/* * {
  border: 1px solid #000;
} */

#map {
  height: 75%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

button {
  font-size: 1.5em;
  border-radius: 10px;
  line-height: 2em;
}

button:hover {
  background-color: green;
  color: white;
}
